<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>very test</title>

    <script type="text/javascript">
        'use strict';

        var mock = {
            add: (...args)=>{
                args.pop()('mock-value')
            }
        }

        window.addEventListener('DOMContentLoaded',main)

        const REG_MASTACHE = /\{\{.*\}\}/

        function main(){
            for (let element of explore(document.body)) {
                isMastache(element) && bindMastache(element)
            }
        }

        function* explore(element) {
            for (let i of element.children) {
                yield i
                yield* explore(i)
            }
        }

        // 口髭が複数あったり、テキストに混じっていても何とかなりそう。更新用の関数を動的に作る
        // だからとりま口髭が一つのみの束縛を考える
        // 更新用の関数を、Storeのセッターに仕込む。
        // 更新用の関数はデータを引数貰いエレメントを書き換える関数。クロージャーを使ってエレメントの参照を含ませる
        // 口髭を解析して対象のStoreDataを割り出してセッターに登録する
        // 口髭の解析はスペース区切りとかにしてもいいし、
        // JSを展開するのは口髭じゃなくて別のデリミタを使えばいいか
        // 口髭だとフィルターが書けない。パイプのような専用の構文を作るのも可？ダメだな。引数付きのフィルターとか欲しい。カリー使えばワンチャン？
        // 要件としては、バインドが出来ること。フィルターを掛けられること
        // フィルターは関数なので、直接Storeから値を取得すればよく、更新のタイミングだけ通知してくれれば良い。
        // 問題は更新し終わったタイミングじゃないと、Storeから直接取得が機能しない。Proxyだとできないかも。できるわ。
        // ・生JSを使う
        // ・専用構文を作る
        // 生JSにしてエイリアスとして専用構文を作る方針で行こう。
        // ってことで口髭の再定義が必要
        // 口髭を評価した時の返り値は、関数と更新タイミングのオブジェクトか、静的なString
        // Stringも更新したい？やめよう。普通に関数の返り値でStringを返せばいい
        // Storeを通さないActionとView間のイベントは必要か？Converterがあれば必要ない。
        // Converterで問題になっているのは更新通知の購読方法。
        // Vue.js が意味不明。凄すぎ。ネットで探したらあった。なるほどコロンブスの卵
        function isMastache(element){
            return element.children.length === 0 && REG_MASTACHE.test(element.innerHTML)
        }

        function bindMastache(element){
            let parsed = parseMastache(element.innerHTML.match(REG_MASTACHE)[0])
            let lambda = makeRenderLambda(element)
            parsed.store.add(parsed.args, lambda)
        }

        function makeRenderLambda(element){
            return data => {
                element.innerHTML = data
            }
        }

        function parseMastache(string){
            let [store, ...args] = string.replace('{{', '').replace('}}', '').trim().split(/\s+/)
            return {store: eval(store), args:args}
        }

    </script>
</head>

<body>
    <div id='id' aaa="fasd">
        value
    </div>
    <section class="">
        <p>{{ mock 1 2 }}</p>
        <p>daf2</p>
    </section>
</body>

</html>
